/****** VARIABLES ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* COLORS */
  --color-purple: #a27bf6;
  --color-aqua: #52eec4;
  --color-grey: rgb(245, 245, 245);

  /* FONT SIZES */
  --font-size-small: 14px;
  --font-size-regular: 16px;
  --font-size-large: 20px;
  --font-size-xl: 28px;
  --font-size-xxl: 35px;
  --font-size-hero-h1: 50px;
  --font-size-hero-p: 35px;
  --font-size-step: 45px;
  --font-size-blog-h1: 40px;
  --font-size-blog-p: 21px;

  /* MOBILE FONT SIZES*/
  --font-size-mobile-small: 12px;
  --font-size-mobile-regular: 14px;
  --font-size-mobile-large: 16px;
  --font-size-mobile-xl: 20px;
  --font-size-mobile-xxl: 25px;
  --font-size-mobile-hero-h1: 45px;
  --font-size-mobile-hero-p: 27px;
  --font-size-mobile-step: 35px;
  --font-size-mobile-blog-h1: 30px;
  --font-size-mobile-blog-p: 18px;

  /* HEIGHTS, WIDTHS */
  --height-header: 120px;

  /* PADDINGS */
  --padding-container: 0px 100px 100px 100px;
  --padding-header: 50px 80px;
  --padding-about-section: 150px 200px;
  --padding-process: 150px;
  --pading-contact-form: 150px 200px;
  --padding-copyright: 100px 100px 10px 100px;
  --padding-footer: 100px 200px;
  --padding-blog-post: 100px 250px 60px 250px;

  /* MOBILE PADDINGS */
  --padding-mobile-container: 10px 50px 60px 50px;
  --padding-mobile-header: 15px 50px;
  --padding-mobile-about-section: 100px 30px;
  --padding-mobile-process: 40px;
  --padding-mobile-contact-form: 40px 20px;
  --padding-mobile-copyright: 30px 30px 5px 30px;
  --padding-mobile-footer: 40px 20px;
  --padding-mobile-blog-post: 40px 20px 30px 20px;
}

/****** TYPOGRAPHY STYLES ******/

.hero-span {
  position: relative;
  display: inline-block;
}

.hero-span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(90deg, #1be9b291, #52eec4b8, #cfece08d);
  transition: width 5s ease;
  animation: paintbrushAnimation 2s ease-out forwards;
}

/* Keyframes for the underline animation */
@keyframes paintbrushAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes triggerLoad {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

/* FONTS */
body,
button {
  font-family: "Afacad", sans-serif;
}

/* FONT SIZES */
.hero h1 {
  font-size: var(--font-size-hero-h1);
  font-weight: 450;
}
.hero p {
  font-size: var(--font-size-hero-p);
}
.nav-menu li {
  font-size: var(--font-size-large);
}

/* FONT COLORS */

/****** GENERAL ******/
a {
  text-decoration: none;
}

.scroll-to-top {
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--color-grey);
  color: var(--color-purple);
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: white; /* Button color on hover */
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-aqua);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-aqua);
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

/***** IMAGES/ICONS STYLES ******/

/***** BUTTON STYLES ******/
.hero a {
  -webkit-tap-highlight-color: transparent; /* Removes tap highlight */
}
button {
  background-color: var(--color-purple);
  border: none;
  border-radius: 5px;
}

.hero-btn {
  padding: 10px 20px;
  margin-top: 25px;
  font-size: var(--font-size-large);
  border: 1px solid var(--color-purple);
}

.hero-btn:hover {
  background-color: #956af3;
}

.cv-btn {
  padding: 10px 20px;
  color: black;
  background-color: transparent;
  border: 1px solid var(--color-purple);
  font-size: var(--font-size-large);
}

.cv-btn:hover {
  color: var(--color-purple);
}

.explore-blog {
  margin-top: 20px;
  background-color: black;
  padding: 10px 20px;
}

.explore-blog:hover {
  font-weight: 500;
}

.explore-blog a {
  text-decoration: none;
  color: white;
}

.footer-btn {
  padding: 10px 15px;
  margin-top: 10px;
}

/****** HEADER STYLES ******/

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-header);
  background-color: #ffffff;
}

.logo img {
  max-width: 200px;
}

/****** NAV-MENU STYLES ******/
nav {
  display: flex;
  align-items: center;
  position: relative;
}

/* Burger Menu */
.burger-menu {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1100;
}

.burger-line {
  width: 30px;
  height: 4px;
  background-color: black;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-menu.active .burger-line:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.burger-menu.active .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* Nav Menu */
.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.nav-menu li a:hover {
  color: gray;
}

.home a {
  /* current */
  color: var(--color-purple) !important;
}

.projects {
  position: relative;
}

.soon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
  transform: rotate(-15deg);
  transform-origin: center;
}

.projects:hover .soon {
  display: block;
}

/****** HERO STYLES ******/

.hero {
  height: auto;
  padding: var(--padding-container);
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
}

.col-hero {
  width: 50%;
}

.col-left p {
  white-space: nowrap;
}

.col-right img {
  padding: 20px;
  width: 700px;
  height: auto;
}

/****** ABOUT ******/
/*me*/
.about-section {
  padding: var(--padding-about-section);
  text-align: center;
  font-size: var(--font-size-large);
  line-height: 1.8;
  background-color: var(--color-grey);
  color: black;
  width: 100%;
}

.about-section h2 {
  color: var(--color-purple);
  text-align: center;
  margin-bottom: 5px;
  font-size: var(--font-size-hero-h1);
}

.about-section p {
  font-size: var(--font-size-large);
}

/*process*/

.process {
  background-color: white;
  padding: var(--padding-process);
  display: block;
}

.col-container {
  margin-top: 30px;
  gap: 20px;
  display: flex;
}

.col-container img {
  margin: 0 auto;
  width: 130px;
  height: auto;
}

.process h1 {
  color: var(--color-purple);
  font-size: var(--font-size-hero-h1);
  padding-left: 20px;
  text-align: center;
}

.col-process {
  font-size: var(--font-size-large);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: block;
  width: 33.33%;
  background-color: var(--color-grey);
  color: black;
  text-align: center;
  padding: 40px;
}

.col-process h1 {
  font-size: var(--font-size-step);
  text-align: left;
  color: black;
}

.col-process-dot {
  color: var(--color-aqua);
}

.col-process p {
  margin-top: 20px;
}

.step {
  color: var(--color-purple);
}

/****** CONTACT SECTION ******/

#warningMessage {
  display: none;
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

.contact-form-container {
  padding: var(--pading-contact-form);
  text-align: center;
  background-color: var(--color-grey);
  color: white;
  width: 100%;
}

.contact-form-container h1 {
  margin-bottom: 20px;
  font-size: var(--font-size-hero-h1);
  color: var(--color-purple);
}

.contact-form {
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    font-size: var(--font-size-regular);
    margin: 0 auto;
    display: block;
    width: 50vw;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: #000000;
    font-size: var(--font-size-large);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #000000;
  }
}

/****** FOOTER STYLES ******/
footer {
  display: block;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #000000;
  color: white;
  height: auto;
}

footer .contact {
  padding: var(--padding-footer);
  align-content: center;
  text-align: center;
  display: block;
}

footer .socials {
  display: flex;
  align-self: center;
}

.socials img {
  width: 30px;
  height: auto;
}

footer .copyright {
  align-self: flex-end;
  padding: var(--padding-copyright);
  text-align: center;
  font-size: 14px;
  margin-top: auto;
}

.footer-btn a {
  color: black;
}

/* BLOG CSS */
.blog-section {
  background-color: var(--color-grey);
  width: 100%;
}

.blog-post {
  background-color: var(--color-grey);
  color: black;
  padding: var(--padding-blog-post);
  font-size: var(--font-size-blog-p);
}

.blog-post h1 {
  font-size: var(--font-size-blog-h1);
  color: var(--color-purple);
}

.blog-post p {
  font-size: var(--font-size-large);
}
/*************** mobile nav *********************/

@media (max-width: 768px) {
  .hero p {
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Newer spec */
    word-break: break-word; /* Fallback for older browsers */
    hyphens: auto; /* Add hyphenation where possible */
    line-height: 1.5; /* Improve readability */
  }
  .hero button {
    color: black;
    text-decoration: none;
  }
  header {
    padding: var(--padding-mobile-container);
    position: relative;
  }

  .logo img {
    width: 150px;
    height: auto;
  }

  .burger-menu {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
  }
  .nav-menu.active {
    display: flex;
  }

  .hero {
    margin: 0 auto;
    text-align: center;
    height: auto;
    background-color: white;
    padding: var(--padding-mobile-container);
    display: block;
    width: 100%;
    overflow: hidden; /* Prevent any overflow */
  }

  .hero img {
    max-width: 440px;
    margin-top: 20px;
    height: auto;
  }

  .hero h1 {
    width: 100%;
    font-size: var(--font-size-mobile-hero-h1);
  }
  .hero p {
    width: 100%;
    font-size: var(--font-size-mobile-hero-p);
  }

  .hero-btns {
    display: flex;
    margin: 0 auto;
    max-width: 80%;
    align-items: left;
    flex-direction: column;
    gap: 10px;
  }

  .hero-btn,
  .cv-btn {
    padding: 15px 20px;
  }
  .col-hero {
    display: block;
    width: 100%;
  }
  .col-right {
    display: flex;
    justify-content: center;
  }

  /*about*/

  .about-section {
    padding: var(--padding-mobile-about-section);
  }

  /*process section*/
  .process {
    padding: var(--padding-mobile-about-section);
  }

  .col-container {
    display: block;
  }

  .col-process {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-form-container {
    padding: var(--padding-mobile-contact-form);
    width: 100%;
    justify-content: center;
  }
}
