/****** VARIABLES ******/

:root {
  /*COLORS*/
  --color-purple: #a27bf6;
  --color-aqua: #52eec4;
  --color-grey: rgb(245, 245, 245);

  /* FONT SIZES */
  --font-size-small: 14px;
  --font-size-regular: 16px;
  --font-size-large: 20px;
  --font-size-xl: 28px;
  --font-size-xxl: 35px;
  --font-size-hero-h1: 50px;
  --font-size-hero-p: 30px;
  --font-size-step: 45px;
  /*HEIGHTS, WIDTHS*/
  --height-header: 120px;
  /* PADDINGS */
  --padding-container: 100px 100px 120px 100px;
  --padding-header: 20px 80px;
  --padding-about-section: 150px 200px;
  --padding-proccess: 130px 100px 150px 100px;
  --pading-contact-form: 150px 200px;
  --padding-copyright: 100px 100px 10px 100px;
  --padding-footer: 100px 200px;
}

/****** TYPOGRAPHY STYLES ******/

.hero-span {
  position: relative;
  display: inline-block;
}

.hero-span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(90deg, #1be9b291, #52eec4b8, #cfece08d);
  transition: width 5s ease;
  animation: paintbrushAnimation 2s ease-out forwards;
}

/* Keyframes for the underline animation */
@keyframes paintbrushAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes triggerLoad {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

/*FONTS*/
body,
button {
  font-family: "Afacad", sans-serif;
}
/* FONT SIZES */
.hero h1 {
  font-size: var(--font-size-hero-h1);
  font-weight: 450;
}
.hero p {
  font-size: var(--font-size-hero-p);
}
.nav-menu li {
  font-size: var(--font-size-large);
}

/* FONT COLORS */

/****** GENERAL ******/
a {
  text-decoration: none;
}

.scroll-to-top {
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--color-grey);
  color: var(--color-purple);
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
  background-color: white; /* Button color on hover */
}

html {
  scroll-behavior: smooth;
}

.main-content {
  display: grid;
  grid-template-rows: auto 1fr; /* Header takes its natural height, hero fills the rest */
  height: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-aqua);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-aqua);
}

html,
body {
  height: 100%;
  background-color: black;
}
body {
  scroll-behavior: smooth;
}

/***** IMAGES/ICONS STYLES ******/

/***** BUTTON STYLES ******/

button {
  background-color: var(--color-purple);
  border: none;
  border-radius: 5px;
}
.hero-btn {
  padding: 10px 20px;
  margin-top: 25px;
  font-size: var(--font-size-large);
  border: 1px solid var(--color-purple);
}
.hero-btn:hover {
  background-color: #956af3;
}

.cv-btn {
  padding: 10px 20px;
  color: black;
  background-color: transparent;
  border: 1px solid var(--color-purple);
  font-size: var(--font-size-large);
}
.cv-btn:hover {
  color: var(--color-purple);
}

.check-projects {
  margin-top: 20px;
  color: white;
  background-color: black;
  padding: 10px 20px;
}
.check-projects:hover {
  font-weight: 500;
}

.footer-btn {
  padding: 10px 15px;
  margin-top: 10px;
}

/****** HEADER STYLES ******/

header {
  height: var(--height-header);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  max-width: 100vw;
  align-items: center;
  padding: var(--padding-header);
  justify-content: space-between;
  display: flex;
}

.header-left {
  width: 60%;
}
.header-left img {
  width: 200px;
  height: auto;
}
.header-right {
  padding: 0;
  width: 40%;
  justify-content: space-between;
}

/****** NAV-MENU STYLES ******/
.nav-menu {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
}
.nav-menu a {
  text-decoration: none;
  color: black;
}

.home a {
  /* current */
  color: var(--color-purple) !important;
}
.projects {
  position: relative;
}

.soon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bold;
  transform: rotate(-15deg);
  transform-origin: center;
}

.projects:hover .soon {
  display: block;
}

/****** HERO STYLES ******/

.hero {
  height: calc(100vh - var(--height-header));
  padding: var(--padding-container);
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
}
.col-hero {
  width: 50%;
}

.col-left p {
  white-space: nowrap;
}

.col-right img {
  width: 100%;
  height: auto;
}

/****** ABOUT ******/
/*me*/
.about-section {
  padding: var(--padding-about-section);
  text-align: center;
  font-size: var(--font-size-large);
  line-height: 1.8;
  background-color: var(--color-grey);
  color: black;
  width: 100%;
}

.about-section h2 {
  color: var(--color-purple);
  text-align: center;
  margin-bottom: 5px;
  font-size: var(--font-size-hero-h1);
}
.about-section p {
  font-size: var(--font-size-large);
}

/*proccess*/

.proccess {
  background-color: white;
  padding: var(--padding-proccess);
  display: block;
}
.col-container {
  margin-top: 30px;
  gap: 20px;
  display: flex;
}

.col-container img {
  margin: 0 auto;
  width: 130px;
  height: auto;
}

.proccess h1 {
  color: var(--color-purple);
  font-size: var(--font-size-hero-h1);
  padding-left: 20px;
  text-align: center;
}
.col-proccess {
  font-size: var(--font-size-large);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: block;
  width: 33.33%;
  background-color: var(--color-grey);
  color: black;
  text-align: center;
  padding: 40px;
}

.col-proccess h1 {
  font-size: var(--font-size-step);
  text-align: left;
  color: black;
}

.col-proccess-dot {
  color: var(--color-aqua);
}
.col-proccess p {
  margin-top: 20px;
}

.step {
  color: var(--color-purple);
}

/****** CONTACT SECTION ******/

#warningMessage {
  display: none;
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

.contact-form-container {
  padding: var(--pading-contact-form);
  text-align: center;
  background-color: var(--color-grey);
  color: white;
  width: 100%;
}

.contact-form-container h1 {
  margin-bottom: 20px;
  font-size: var(--font-size-hero-h1);
  color: var(--color-purple);
}
.contact-form {
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    font-size: var(--font-size-regular);
    margin: 0 auto;
    display: block;
    width: 50vw;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: #000000;
    font-size: var(--font-size-large);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #000000;
  }
}

/****** FOOTER STYLES ******/
footer {
  display: block;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #000000;
  color: white;
  height: auto;
}

footer .contact {
  padding: var(--padding-footer);
  align-content: center;
  text-align: center;
  display: block;
}

footer .socials {
  display: flex;
  align-self: center;
}
.socials img {
  width: 30px;
  height: auto;
}
footer .copyright {
  align-self: flex-end;
  padding: var(--padding-copyright);
  text-align: center;
  font-size: 14px;
  margin-top: auto;
}

.footer-btn a {
  color: black;
}
